<launch>
  <param name="robot_description" command="cat $(find quadnake_description)/urdf/snake_robot.urdf" />

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="TRUE"/>
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	  output="screen" ns="/my_snake_robot" args="joint1_position_controller joint2_position_controller joint_state_controller"/>
  <!-- Show in RVIZ   -->

</launch>