<?xml version="1.0" encoding="UTF-8"?>
	<launch>
  		<include file="$(find quadnake_description)/launch/spawn_urdf.launch">
      		<arg name="x" value="0.0" />
      		<arg name="y" value="0" />
      		<arg name="z" value="0.5" />
      		<arg name="urdf_robot_file" value="$(find quadnake_description)/urdf/snake_robot.urdf" />
      		<arg name="robot_name" value="my_snake_robot" />
  		</include>
	</launch>